.container{
    height: 400px;
    width: 500px;
    background-color: aquamarine;
    border: 2px solid red;
    display: inline-block;
}
.child1,.child2,.child3{
    height: 60px;
    width: 60px;
    border: 2px solid gold;
    gap: 20px;
    color: rgb(0, 5, 5);
    background-color: rgb(235, 133, 90);
    padding: 10px;
    margin: 30px;
    display: inline-block;
}
.child2{
   
    background-color: rgb(255, 255, 255);
   
}
.child3{
   
    background-color: rgb(15, 215, 55);

}